.footer-container {
  display: flex;
  // min-width: 100%;
  padding: 0 71px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  height: 77px;
  justify-content: center;
  background: #f7f7f7;
  // align-items: center;
  align-items: end;
}

.footer-text {
  margin: 0;
  padding-top: 30px;
  padding-right: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  color: #545454;
}

.footer-img {
  // width: 14px;
  // height: 12.88px;
  padding-top: 33px;
  padding-right: 10px;
}

.footer-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-decoration: none;
  color: #545454;
  border-bottom: 1px solid #545454;
}
