.main {
  position: relative;
}

.main-container {
  display: flex;
  padding: 0 71px;
  margin-left: auto;
  margin-right: auto;
  // width: 1024px;
  @media screen and (max-width: 767px) {
    max-width: 320px;
    padding: 0 21px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    // padding: 0 75px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 1024px;
    // padding: 0 71px
  }
}

.home-list {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.home-list-card {
  // width: calc((100% - 30px * 2) / 3);
  // margin-right: 30px;
  margin-bottom: 31px;
  // height: 274px;

  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    width: calc((100% - 30px) / 1);
    margin-right: 0;
    padding-right: 0;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    // margin-right: 30px;
  }
  @media screen and (min-width: 1024px) {
    width: calc((100% - 30px * 2) / 3);
    margin-right: 30px;
  }

  @media screen and (max-width: 1023px) {
    .home-list-card:nth-child(2n) {
      margin-right: 0;
    }
  }
}
.home-list-card:nth-child(3n) {
  margin-right: 0;
}

.home-list-card:hover,
.home-list-card:focus {
  transform: scale(1.05);
  cursor: pointer;
}

.home-card-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;

  color: #000000;

  margin-top: 10px;
}

.home-card-сategory {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  margin-top: 0;
  margin-bottom: 0;

  color: $accentColor;
}

.home-card-name {
  text-align: left;
  flex-grow: 1;
  width: 274px;
}

.home-card-rating {
  margin-top: 0;
  margin-bottom: 0;
}
