<ul class='movie-rating-container'>
    <li class="movie-list">
        <img src="/img/Rectangle-5(GREYHOUND).jpg" alt="">
        <p class="movie-title">GREYHOUND</p>
        <div class="movie-about">Drama, Action | 2020
        <div class="movie-rating">10.0</div>
        </div>
    </li>



    <li class="movie-list">
        <img src="/img/Rectangle-12(MONSTER-HUNTER).jpg" alt="">
        <p class="movie-title">MONSTER HUNTER</p>
        <div class="movie-about">Drama, Action | 2020
            <div class="movie-rating">8.0</div>
        </div>
    </li>


    <li class="movie-list">
        <img src="/img/Rectangle-13(ONCE-UPON-A-TIME...IN-HOLLYWOOD).jpg" alt="">
        <p class="movie-title">ONCE UPON A TIME... IN HOLLYWOOD</p>
        <div class="movie-about">Drama, Comedy | 2019
            <div class="movie-rating">8.0</div>
        </div>
    </li>


    <li class="movie-list">
        <img src="/img/Rectangle-14(LITTLE-WOMEN).jpg" alt="">
        <p class="movie-title">LITTLE WOMEN</p>
        <div class="movie-about">Drama | 2019
            <div class="movie-rating">9.5</div>
        </div>
    </li>
</ul>